body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
  border: 16px solid rgb(13, 28, 59);
}

input {
  padding: 12px;
  font-weight: 600;
  font-size: 1.5em;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display {
  text-align: end;
  border: 2px solid;
  font-weight: bold;
  font-size: 1.5em;
}

.display > * {
  display: block;
  height: 37px;
  padding: 5px;
}

.clear, .delete {
  width: 49%;
  padding: 8px;
  font-weight: 600;
  font-size: 1.2em;
}
