body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
  border: 22px solid #77c8e9;
  border-radius: 16px;
}

input {
  padding: 12px;
  color: #fff;
  background-color: #6495ed;
  font-weight: 600;
  font-size: 1.5em;
}

input[value="0"] {
  grid-column: 1/3;
}

.operator {
  background-color: #663399;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.display {
  text-align: end;
  border: 2px solid;
  font-weight: bold;
  font-size: 1.5em;
}

.display > * {
  display: block;
  height: 28px;
  padding: 5px;
}

.clear, .delete {
  padding: 8px;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  background-color: #663399;
}

.clear {
  grid-column: 1/3;
}
